/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
}

nav {
    padding-inline: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #333333cc;
    margin-left: 20px;
}

nav li a:hover {
    color: #2905f5;
    font-weight: 700;
}

.logo:hover {
    color: #2905f5;
    font-weight: 700;
    cursor: pointer;
}

.logo {
    font-weight: 700;
    font-size: larger;
}

footer {
    background-color: #f0f0f0;
    padding: 0 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 10px;
}
